* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}
.d-flex {
	display: flex;
}

.js-between {
	justify-content: space-between;
}

::-webkit-input-placeholder {
	color: black;
}
.btn {
	margin-left: 5px;
}
